<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Officeworks Web Application Automation Test Suite">
	<listeners>
	<listener class-name="com.officeworks.qa.ExtentReportListener.ExtentReportListener"/>
	</listeners>
	
	<test name="Officeworks Web application Test Cases">
		<classes>
			<class name="com.officeworks.qa.tests.LoginPageTest"></class>
			<class name="com.officeworks.qa.tests.HomePageTest"></class>
			<class name="com.officeworks.qa.tests.TechnologyPageTest"></class>
			<class name="com.officeworks.qa.tests.IphoneAndMobilePhonesPageTest"></class>
			<class name="com.officeworks.qa.tests.IphonesPageTest"></class>
			<class name="com.officeworks.qa.tests.CheckoutPageTest"></class>	
		</classes>
	</test>
</suite>